In [1]:
from memory_profiler import memory_usage, profile
%load_ext memory_profiler
import pandas as pd
import time

In [2]:
def load_data():
    df = pd.read_csv('data/Chicage Crime Data.csv', dtype={'Arrest': str, 'Domestic': str})
    return df

# Time the function execution
%time df = load_data()

CPU times: total: 14.7 s
Wall time: 41.7 s

#### Memory usage

For some reason, measuring memory usage in Jupyter gives insane answers, so I did it in a separate script.

Max Memory Used = 2879.0 MiB = 2.81 GB

In [3]:
len(df)

7391187

In [4]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,08/25/2007 09:22:18 AM,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,false,false,...,49.0,1.0,08A,NaN,NaN,2007.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,25953,JE240540,05/24/2021 03:06:00 PM,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,true,false,...,36.0,19.0,01A,1141387.0,1913179.0,2021.0,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,06/26/2021 09:24:00 AM,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,true,false,...,50.0,13.0,01A,1152781.0,1941458.0,2021.0,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,11/09/2023 07:30:00 AM,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,false,false,...,47.0,5.0,05,1162518.0,1925906.0,2023.0,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,11/12/2023 07:59:00 AM,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,true,false,...,6.0,44.0,08B,1183071.0,1847869.0,2023.0,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)"

### R

Time to load dataset: 83.20 s

Max Memory used: 2.07 GB

### WEKA

Time to load dataset: 102.448 s

Max memory used: 3753 MB = 3.67 GB

In [7]:
# Add data to the DataFrame
data = {
    'Measure': ['Time (s)', 'Memory Usage (GB)'],
    'Python': [41.7, 2.81],
    'WEKA': [102.448, 3.67],
    'R': [83.20, 2.07]
}

df = pd.DataFrame(data)

df

             Measure  Python     WEKA      R
0           Time (s)   41.70  102.448  83.20
1  Memory Usage (GB)    2.81    3.670   2.07

In [8]:
df.to_csv('data/memory.csv', index=False)